# This is Git's per-user configuration file.
[user]
  name = ted-vo
  email = vtnhon.dk@gmail.com

[core]
	excludesfile = ~/.gitignore.global
	attributesfile = ~/.gitattributes
	precomposeUnicode = true
	# https://github.com/dandavison/delta
	; pager = delta

[init]
	defaultBranch = main

[pull]
	rebase = true

[include]
  path = .gitconfig.local

; [delta]
; 	max-line-length = 700
; 	# max-line-distance = 0.3 # better word-diff?
; 	syntax-theme = base16
; 	hyperlinks = true # i filed https://github.com/dandavison/delta/issues/362 but in 2022 i can't see brokenness in the issue nor repro weirdness. but i installed latest `less` anyway
; 	                  # oh i found it. it doubles up the sha and adds some `8;;` at the end.
; 					  # to fix.... install latest less (`less -V` should be >= v570). shouldn't need to set DELTA_PAGER.
; 	# line-numbers = true # seems nice until you want to copypaste and they're there…
; 	# navigate = true # eh. not great with short diffs.
;
; 	file-style = bold yellow ul
; 	file-decoration-style = yellow ol ul
; 	hunk-header-decoration-style = blue
; 	hunk-header-line-number-style = purple bold

[alias]
  # If you do `git git status`, this sorts out the duplicate
	git = !exec git
