# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# file excution
alias chmox='chmod -x'
alias chmoax='chmod +x'

alias brwe=brew  #typos

alias hosts='sudo $EDITOR /etc/hosts' # edit host

$(which lsd &>/dev/null) && alias ls='lsd' # ls by nextgen
$(which bat &>/dev/null) && alias cat='bat' # cat by nextgen
$(which gping &>/dev/null) && alias ping='gping' # ping by nextgen

# docker
alias docker-start='systemctl start docker.service'

# yazi
alias y=yazi
