# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

alias chmox='chmod -x'
alias chmoax='chmod -x'

alias brwe=brew  #typos

alias hosts='sudo $EDITOR /etc/hosts'
